In [78]:
import pandas as pd

In [79]:
df= pd.read_csv("D:/loan.csv",low_memory=False)

In [80]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [81]:
df['int_rate'] = df['int_rate'].str.replace('%','').astype(float)

In [82]:
df['term'] = df['term'].str.extract('(\d+)').astype(int)

In [83]:
important_cols = [
    # Identifiers
    'id','member_id',
    
    # Core exposure
    'loan_amnt',
    'funded_amnt',

    # Pricing
    'int_rate',
    'term',

    # Risk segmentation
    'grade',
    'sub_grade',

    # Borrower strength
    'annual_inc',
    'dti',

    # Behavioral credit risk
    'delinq_2yrs',
    'inq_last_6mths',
    'pub_rec_bankruptcies',

    # Product segmentation
    'purpose',

    # Geography (for exposure concentration)
    'addr_state',

    # Time (for vintage analysis)
    'issue_d',

    # Performance
    'loan_status',

    # Financial outcome
    'total_rec_prncp',
    'recoveries'
]

In [84]:
df= df[important_cols]

In [85]:
df

,id,member_id,loan_amnt,funded_amnt,int_rate,term,grade,sub_grade,annual_inc,dti,delinq_2yrs,inq_last_6mths,pub_rec_bankruptcies,purpose,addr_state,issue_d,loan_status,total_rec_prncp,recoveries
0,1077501,1296599,5000,5000,10.65,36,B,B2,24000.0,27.65,0,1,0.0,credit_card,AZ,Dec-11,Fully Paid,5000.00,0.00
1,1077430,1314167,2500,2500,15.27,60,C,C4,30000.0,1.00,0,5,0.0,car,GA,Dec-11,Charged Off,456.46,117.08
2,1077175,1313524,2400,2400,15.96,36,C,C5,12252.0,8.72,0,2,0.0,small_business,IL,Dec-11,Fully Paid,2400.00,0.00
3,1076863,1277178,10000,10000,13.49,36,C,C1,49200.0,20.00,0,1,0.0,other,CA,Dec-11,Fully Paid,10000.00,0.00
4,1075358,1311748,3000,3000,12.69,60,B,B5,80000.0,17.94,0,0,0.0,other,OR,Dec-11,Current,2475.94,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,8.07,36,A,A4,110000.0,11.33,0,0,NaN,home_improvement,CO,Jul-07,Fully Paid,2500.00,0.00
39713,90665,90607,8500,8500,10.28,36,C,C1,18000.0,6.40,1,1,NaN,credit_card,NC,Jul-07,Fully Paid,8500.00,0.00
39714,90395,90390,5000,5000,8.07,36,A,A4,100000.0,2.30,0,0,NaN,debt_consolidation,MA,Jul-07,Fully Paid,5000.00,0.00
39715,90376,89243,5000,5000,7.43,36,A,A2,200000.0,3.72,0,0,NaN,other,MD,Jul-07,Fully Paid,5000.00,0.00
39716,87023,86999,7500,7500,13.75,36,E,E2,22000.0,14.29,1,0,NaN,debt_consolidation,MA,Jun-07,Fully Paid,7500.00,0.00

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39717 non-null  int64
 1   member_id             39717 non-null  int64
 2   loan_amnt             39717 non-null  int64
 3   funded_amnt           39717 non-null  int64
 4   int_rate              39717 non-null  float64
 5   term                  39717 non-null  int32
 6   grade                 39717 non-null  object
 7   sub_grade             39717 non-null  object
 8   annual_inc            39717 non-null  float64
 9   dti                   39717 non-null  float64
 10  delinq_2yrs           39717 non-null  int64
 11  inq_last_6mths        39717 non-null  int64
 12  pub_rec_bankruptcies  39020 non-null  float64
 13  purpose               39717 non-null  object
 14  addr_state            39717 non-null  object
 15  issue_d               39717 non-null  object
 16  loan_status           39717 non-null  object
 17  total_rec_prncp       39717 non-null  float64
 18  recoveries            39717 non-null  float64
dtypes: float64(6), int32(1), int64(6), object(6)
memory usage: 5.6+ MB

In [87]:
# Keep only closed loans
df = df[df['loan_status'].isin(['Fully Paid','Charged Off'])].copy()

# Create default flag
df['default_flag'] = df['loan_status'].map({
    'Fully Paid': 0,
    'Charged Off': 1
})

In [88]:
df['default_flag'].value_counts(normalize=True)

default_flag
0    0.854136
1    0.145864
Name: proportion, dtype: float64

In [89]:
df.head()

,id,member_id,loan_amnt,funded_amnt,int_rate,term,grade,sub_grade,annual_inc,dti,delinq_2yrs,inq_last_6mths,pub_rec_bankruptcies,purpose,addr_state,issue_d,loan_status,total_rec_prncp,recoveries,default_flag
0,1077501,1296599,5000,5000,10.65,36,B,B2,24000.0,27.65,0,1,0.0,credit_card,AZ,Dec-11,Fully Paid,5000.00,0.00,0
1,1077430,1314167,2500,2500,15.27,60,C,C4,30000.0,1.00,0,5,0.0,car,GA,Dec-11,Charged Off,456.46,117.08,1
2,1077175,1313524,2400,2400,15.96,36,C,C5,12252.0,8.72,0,2,0.0,small_business,IL,Dec-11,Fully Paid,2400.00,0.00,0
3,1076863,1277178,10000,10000,13.49,36,C,C1,49200.0,20.00,0,1,0.0,other,CA,Dec-11,Fully Paid,10000.00,0.00,0
5,1075269,1311441,5000,5000,7.90,36,A,A4,36000.0,11.20,0,3,0.0,wedding,AZ,Dec-11,Fully Paid,5000.00,0.00,0

In [90]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'int_rate', 'term',
       'grade', 'sub_grade', 'annual_inc', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'pub_rec_bankruptcies', 'purpose', 'addr_state',
       'issue_d', 'loan_status', 'total_rec_prncp', 'recoveries',
       'default_flag'],
      dtype='object')

In [91]:
df['pub_rec_bankruptcies'] = df['pub_rec_bankruptcies'].fillna(0)

In [92]:
df['issue_d'] = df['issue_d'].str.strip()
df['issue_d'] = pd.to_datetime(df['issue_d'], format='%b-%y', errors='coerce')

In [93]:
int_cols = [
    'delinq_2yrs',
    'inq_last_6mths',
    'pub_rec_bankruptcies',
    'default_flag'
]

for col in int_cols:
    df[col] = df[col].fillna(0).astype(int)

In [94]:
# Final sanity check
print("Final shape:", df.shape)
print(df.isnull().sum())

# Export to CSV
df.to_csv("loan_cleaned.csv", index=False)

Final shape: (38577, 20)
id                      0
member_id               0
loan_amnt               0
funded_amnt             0
int_rate                0
term                    0
grade                   0
sub_grade               0
annual_inc              0
dti                     0
delinq_2yrs             0
inq_last_6mths          0
pub_rec_bankruptcies    0
purpose                 0
addr_state              0
issue_d                 0
loan_status             0
total_rec_prncp         0
recoveries              0
default_flag            0
dtype: int64